# access token and access token secret aguila apps
api_key  = ""
api_key_secret = ""

#https://cutt.ly
api_key_cutt =""
#https://newsapi.org/
api_key_news =""

# mongodb connection string
nosql_connect=""

