# access token and access token secret aguila apps
api_key  = ""
api_key_secret = ""

# access token and access token secret users
access_key=""
access_secret=""

#https://cutt.ly
api_key_cutt =""
#https://newsapi.org/
api_key_news =""

# mongodb connection string
nosql_connect=""

